.bn633-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 12px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn633-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn633-hover:focus {
  outline: none;
}

.bn633-hover.bn201 {
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
p.bolding1 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  background: #000000;
  color: #ffffff;
  box-shadow: 0.5em 0 0 #000000, -0.5em 0 0 #000000;
  justify-content: left;
}
p.bolding2 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  color: #ffffff;
}

p.bolding3 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  background: #000000;
  color: #ffffff;
  box-shadow: 0.5em 0 0 #000000, -0.5em 0 0 #000000;
}

p.bolding4 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  color: #ffffff;
  font-size: 1em;
}

p.bolding7 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  color: #ffffff;
  font-size: 30%;
}

p.bolding8 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  color: #ffffff;
  font-size: 30%;
}

p.bolding9 {
  font-weight: bolder;
  display: inline;
  padding: 0.25em 0.5em;
  color: #ffffff;
  font-size: 30%;
}

.p-wrapper {
  display: flex;
  justify-content: space-between;
}

.forum {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

input#replyforumid {
  width: 70%;
  height: 50px;
  margin-top: 5%;
  text-align: center;
}

.mainpost {
  text-align: left;
}

.sectionforreply {
  margin-top: 5%;
  margin-bottom: 5%;
}

form.login {
  margin-bottom: 2%;
}

.spacing29 {
  margin-top: 2%;
}

button#posting {
  margin-left: -2%;
}
