.Intro {
  display: flex;
  height: 60vh;
  padding-top: 10rem;
  padding-left: 4vh;
  padding-bottom: 6rem;
  background: url(../../asset/wave_grid.png);
  background-repeat: no-repeat;
  background-size: 2112px;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  margin-left: 100px;
  margin-right: -50px;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  font-size: 3rem;
  background: -webkit-linear-gradient(115deg, #fc00ff, #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 950;
}
.i-name > :nth-child(3) {
  font-weight: 200;
  font-size: 2rem;
  color: white;
  margin-top: 10px;
}
.i-button {
  width: 21rem;
  height: 4rem;
}

.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  margin-top: -20%;
  margin-left: 25%;
    width: 87%;
}

span#span-center {
  text-align: justify;
}

button#coinheaderbutton {
  position: absolute;
  height: 80px;
  width: 300px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

button#coinheaderbutton {
  background-size: 400%;
}

button#coinheaderbutton:before {
  content: "";
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}

button#coinheaderbutton:before {
  opacity: 1;
  z-index: -1;
}

button#coinheaderbutton:hover {
  background: black;
  color: white;
  background-size: 400%;
}

button {
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .Intro {
    padding-left: 1rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .i-left {
    display: flex;
    position: relative;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .i-name > :nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .i-name > :nth-child(3) {
    font-weight: 200;
    font-size: 1rem;
    color: white;
    margin-top: 10px;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .i-name > :nth-child(2) {
    font-size: 2rem;
    background: -webkit-linear-gradient(115deg, #fc00ff, #00dbde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 950;
    width: 15rem;
  }
}

@media (min-width: 19rem) and (max-width: 48rem){
.i-right > :nth-child(1) {

    display: none;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  button#coinheaderbutton {
    width: 14rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .t-left {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .t-left {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .t-name > :nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 7rem;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .t-name > :nth-child(2) {
    font-size: 1rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .search-col {
    width: 16rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .coin-input {
    border-radius: 5px;
    height: 55px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    width: 9rem;
    transition: 0.1s ease-in;
    font-size: 12pt;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .coin-name {
    color: white;
    transform: rotate(-45deg);
    margin-top: 81px;
    font-size: 1rem;
    margin: 0.3rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .marketingcontainer {
    padding: 3rem;
    display: block;
    justify-content: center;
    margin-left: 4rem;
    flex: column;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .grid-box {
    height: 10rem;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 44%);
    width: 7rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .grid-box h1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .trending-wrap {
    display: none;
  }
}

@media (min-width: 48rem) and (max-width: 64rem){
button#coinheaderbutton {
 width: 14rem;
}
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .t-left {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .t-left {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .t-name > :nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .t-name > :nth-child(2) {
    font-size: 3rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .search-col {
    width: 36rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .coin-input {
    border-radius: 5px;
    height: 55px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    width: 29rem;
    transition: 0.1s ease-in;
    font-size: 12pt;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .coin-name {
    color: white;
    transform: rotate(-45deg);
    margin-top: 81px;
    font-size: 1rem;
    margin: 0.3rem;
}
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .marketingcontainer {
    padding: 3rem;
    display: block;
    justify-content: center;
    margin-left: 4rem;
    flex: column;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .grid-box {
    height: 10rem;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 44%);
    width: 7rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .grid-box h1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
  }
}

@media (min-width: 48rem) and (max-width:64rem){
.trending-wrap {
    display: none;
}
}

@media (min-width:48rem) and (max-width:64rem){
.i-left{
  margin-left: 10rem;
}
}

@media (min-width:48rem) and (max-width:64rem){
.test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  margin-right: 0rem; 
  margin-left: 0rem; 
}
}

@media (max-width: 400px){
  .Intro {
      background-size: 1828px;
    }
}
