.homeexlist {
  display: flex;
  align-items: center;
  min-height: 78vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../asset/cropexlist.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.homeexlist .contentexlist {
  max-width: 66rem;
}

.homeexlist .contentexlist h1 {
  font-size: 6rem;
  color: #fff;
  text-align: center;
  margin: 0;
}

/* .homeexlist .contentexlist span{
    font-size: 3.5rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
} */

.homeexlist .contentexlist p {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.5;
  text-align: justify;
}

.contentexlist h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid whitesmoke; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}
<<<<<<< HEAD



@media (min-width: 16rem) and (max-width: 26.66rem){
.homeexlist .contentexlist h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 0;
}
}

@media (min-width: 16rem) and (max-width:26.66rem){
  .homeexlist {
    display: flex;
    align-items: center;
    min-height: 100%;
    padding: 1rem;

}
}


@media (min-width:16rem) and (max-width:26.66rem){
.homeexlist .contentexlist p {
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0.5rem;
    line-height: 1.5;
    text-align: justify;
}
}


@media (min-width: 16rem) and (max-width: 26.66rem){
.set-appList {
    margin: 1rem 1rem;
}
}

@media (min-width: 16rem) and (max-width: 26.66rem){
.img.coinroll {
    display: none;
}
}

@media (min-width: 16rem) and (max-width: 26.66rem){
button#lpheaderbutton {

    border: none;
    /* outline: none; */
    background: #111;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    width:100%;


    
}
}
=======
>>>>>>> 6cf9f5233c021f1e8d1fcfb2320e4fcec7f4d6d1
