.homeexlist {
  display: flex;
  align-items: center;
  min-height: 78vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../asset/cropexlist.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.homeexlist .contentexlist {
  max-width: 66rem;
}

.homeexlist .contentexlist h1 {
  font-size: 6rem;
  color: #fff;
  text-align: center;
  margin: 0;
}

.homeexlist .contentexlist p {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.5;
  text-align: justify;
}

.contentexlist h1 {
  /* Ensures the content is not revealed until the animation */
  overflow: hidden;
  /* The typwriter cursor */
  border-right: 0.15em solid whitesmoke;
  /* Keeps the content on a single line */
  white-space: nowrap;
  /* Gives that scrolling effect as the typing happens */
  margin: 0 auto;
  /* Adjust as needed */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}

@media (min-width: 16rem) and (max-width: 26.66rem) {
  .homeexlist .contentexlist h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 0;
  }
}
/*phone*/
@media (min-width: 16rem) and (max-width: 26.66rem) {
  .homeexlist {
    display: flex;
    align-items: center;
    min-height: 100%;
    padding: 1rem;
  }



  .homeexlist .contentexlist p {
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0.5rem;
    line-height: 1.5;
    text-align: justify;
  }



  .set-appList {
    margin: 1rem 1rem;
  }


 
  .img.coinroll {
    display: none;
  }


 
  button#lpheaderbutton {
    border: none;
    background: #111;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
  }
}



/*tab*/

@media (min-width: 26.67rem) and (max-width: 48rem){
.homeexlist .contentexlist h1 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin: 0;
}

.homeexlist .contentexlist {
    max-width: 40rem;
}
}

