.sec-wrap{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* background: #14578e; */
}


/* table */

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  /* background: #dee6fa !important; */
  overflow-x: visible !important;
  /* font-weight: bold !important; */
}

.css-y8ay40-MuiTableCell-root{
/* background: #14578e !important; */
/* color:  !important; */
color: white !important;
background: black !important;
height: 2rem !important;
font-size: 1.2rem !important;
padding: 21px !important;
/* text-transform: uppercase; */
}

.css-1ex1afd-MuiTableCell-root{
  line-height: 7px !important;
}

.css-i02g0k-MuiTableCell-root{
  color: white !important;
background: black !important;
height: 2rem !important;
font-size: 1.2rem !important;
padding: 21px !important;
/* margin-right: 7rem !important */
}

.name-col span{
  margin-left: 1rem;
  margin-top: 0px;
  font-size: 1.2rem;
  /* text-transform: ; */
}

/* .css-y8ay40-MuiTableCell-root{
  text-align: center !important;
} */


.coin-input {
  border-radius: 5px;
  height: 55px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  width: 352px;
  transition: 0.1s ease-in;
  font-size: 12pt;
}

.search-col{
  background-color: #000000;
  width: 473px;
  color: wheat;
  border-radius: 5px;
  height: 71px;
}

.fa-search:before {
  margin-left: 18px;
  font-size: 1.5rem;
}

.sec-wrap h1{
  color: wheat
}

.crimson-text {
  color: #1f51ff;
}

.coin-text > :nth-child(1) {
  font-weight: 200;
  font-size: 2rem;
  color: var(--black);
}

.coin-text {
  text-align: center;
}

.sectionTitle {
  font-size: 50px;
  text-align: center;
}

.main-page{
  /* background: linear-gradient(135deg, #3d1d90, #550c6d, #8ac1ee, #03254c); */
}


img#gif1{
  display: block;
  max-width: 18vw;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}   


.coin-app{
  margin-top: 1rem;
  padding-top: 1rem;
}


.carousel-col{
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

.sec-wrap{
  margin: 0 auto;
  /* justify-content: center; */
}

.set-coinList{
  width: 100rem;
  /* margin-top: -49pt; */
}


h3.headercointable{
    color: #000000;
    text-align: center;
    font-size: 3.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


span#colortext6{
    color: #0000ff;
}



.coin-app{

  background-image: url('/src/asset/bluepink2.png');
  background-size: cover;
  background-position: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.btn-coin{
  padding: 7px 0px;
  color: white;
  background: #14578e;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  /* border: 1px solid #8f7cec; */
  margin: auto;
  border-radius: 5px;
  width: 27%;
}

.btn-coin:hover{
  background: #8f7cec;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8f7cec, 0 0 50px #8f7cec, 0 0 100px #8f7cec;

}

.carousel-col-1{
  /* display: inline-block;
    border-radius: 40px;
    background-color: #abd8ff;
    font-size: 2rem;
    margin: 4% auto;
    height: 40vh;
    width: 70vh; */
  /* background-color: #0000ff;
  width: 55rem;
  height: 25rem;
  margin: 3rem auto;
  border-radius: 40px;
  overflow: hidden; */
}


.carousel-2{
  width: 50%;
  margin: auto;
}

