/* .coin-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #000000;
  width: 900px;
  text-decoration: none;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  text-decoration: none;

  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
  text-decoration: none;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  text-decoration: none;
}

.coin-symbol {
  text-transform: uppercase;
  text-decoration: none;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  text-decoration: none;

  width: 100%;
}

.coin-price {
  width: 110px;
  text-decoration: none;
}

.coin-volume {
  width: 155px;
  text-decoration: none;
}

.coin-marketcap {
  width: 230px;
  text-decoration: none;
}

.coin-percent {
  width: 100px;
  text-decoration: none;
}

.red {
  color: #ff0202;
}

.green {
  color: #05a300;
}



/* .search-col { */
  /* border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%; */
  /* width: 3rem;   */
  /* text-align: center; */
/* } */

.coin-input {
  border-radius: 5px;
  height: 31px;
  padding: 2px 23px 2px 30px;
  outline: 0;
}

.crimson-text {
  color: #1f51ff;
}

.coin-text > :nth-child(1) {
  font-weight: 200;
  font-size: 2rem;
  color: var(--black);
}

.coin-text {
  text-align: center;
}

.sectionTitle {
  font-size: 50px;
  text-align: center;
}


img#gif1{
  display: block;
  max-width: 18vw;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}   


.coin-app{
  margin-top: 1rem;
  padding-top: 1rem;
}

.main-page{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem !important; */
}

.carousel-col{
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

.sec-wrap{
  margin: 0 auto;
  /* justify-content: center; */
}

.set-coinList{
  width: 100rem
}

.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  /* background: #151515; */
  color: black;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
    font-size: 45px;
    font-weight: 700;
}
.skill p {
    color: black;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}


.container{
    width: 50%;
    margin: auto;
    padding-bottom: 20%;
    padding-top: 10%;
}