.cont-top-forum-1 {
  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
}

textarea {
  background: white;
}

.cont-wrap-forum {
  margin: 4rem auto;
  width: 51%;
}

.forum .flex-d-row {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.replies-section {
  width: 70%;
  margin: auto;
}

.replies-col {
  align-items: left;
  text-align: left;
  margin-left: 7rem;
  color: white;
}

.reply-in-cont {
  text-align: left;
  background: #fff;
  margin: 0 auto;
  padding: 12px;
}

.tweet-header-info {
  font-weight: bold;
  color: black;
}
.tweet-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight: normal;
}

.arrow-reply {
  margin-right: 1rem;
}

.post-box {
  width: 90%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgb(185 185 185 / 79%);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
}

.post-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.forum-post {
  background-image: url("/src/asset/wave_grid.png");
  background-size: cover;
}

textarea#contentforum {
  border-radius: 20px;
  background: #00094b;
  color: white;
  font-size: 1.5rem;
  width: auto;
  min-height: 10vh;
  padding: 20px;
}

.containerforforum {
  margin: 5rem auto;
}

.containerforforum p{
  color: white;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 12px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}



.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.wrapperfrm .outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperfrm .cardfrm {
  background: #fff;
  width: 430px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.cardfrm .contentfrm {
  display: flex;
  align-items: center;
}

.cardfrm .detailss {
  margin-left: 80px;
}
.detailss span {
  font-weight: 600;
  font-size: 18px;
}
.cardfrm a {
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
.cardfrm a:hover {
  transform: scale(0.94);
}

.containerfrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#forumboxbg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: #fff;
  font-family: "Raleway";
  font-size: 2.5em;
}

.list-forum {
  border-width: 10px;
  background: #1d1f20;
  position: relative;
  border-radius: 10px;
  height: 993px;
}

.list-forum:after {
  content: "";
  position: absolute;
  top: calc(-1 * 10px);
  left: calc(-1 * 10px);
  height: calc(100% + 10px * 2);
  width: calc(100% + 10px * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * 10px);
  z-index: -1;
  animation: animate 3s ease alternate infinite;
  background-size: 300% 300%;
}

/* animation for gradient */

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h3.textfrmheader {
  color: whitesmoke;
  text-align: center;
  font-size: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

span#colortext17 {
  background: -webkit-linear-gradient(115deg, #fc00ff, #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textalignment {
  text-align: left;
}

/* Accordion */

.tab,
.tab * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
.tab {
  width: 50%;
  position: relative;
}

/* HIDE CHECKBOX */
.tab input {
  display: none;
}

/* TAB LABEL */
.tab label {
  /* DIMENSIONS */
  position: relative; /* required for (f2) position:absolute */
  display: block;
  width: 100%;
  padding: 10px;
  margin-left: -2px;

  /* COSMETICS */
  font-weight: 700;
  color: #fff;
  background: #301934;
  cursor: pointer;
}

/* TAB CONTENT - HIDDEN BY DEFAULT */
/* css animation will not work with auto height */
/* this is why we use max-height instead */
.tab .contentforumm {
  background: #000000;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.tab .contentforumm p {
  padding: 10px;
}

/* OPEN TAB ON CHECKED */
.tab input:checked ~ .contentforumm {
  max-height: 100vh;
}

/* EXTRA - ADD ARROW INDICATOR */
.tab label::after {
  /* RIGHT ARROW */
  display: block;
  content: "\25b6";

  /* PLACE AT RIGHT SIDE */
  position: absolute;
  right: 10px;
  top: 10px;

  /* ANIMATED ARROW */
  transition: all 0.4s;
}

/* ROTATE ARROW ON CHECKED */
.tab input:checked ~ label::after {
  transform: rotate(90deg);
}

.containerthree {
  display: flex;
  align-items: center;
  justify-content: center;
}

img#imground {
  height: 15%;
  width: 15%;
}

.divbolding1 {
  position: relative;
  left: -64%;
  text-align: left;
  bottom: -25px;
}

.datetimes {
  position: relative;
  left: 1.1%;
}

/*phone*/

@media (min-width: 16rem) and (max-width: 26.66rem) {
  .cont-wrap-forum {
    margin: 4rem auto;
    width: auto;
  }

  .forum-post {
    background-size: 500px;
  }

  h3.textfrmheader {
    margin-top: 3rem;
    margin-bottom: -3rem;
  }

  .pagination-cont {
    padding: 0px !important;
    width: 90%;
  }

  .forum p {
    font-size: 0.9rem;
  }

  .tweet-header-info span {
    font-size: 0.9rem;
  }

  .forum h2 {
    font-size: 14pt;
  }



.forum p {
    display: none;
}
}