.section5{
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font: 500 100%/1.5 system-ui;
    margin-top: -110px;
}


img.gif2{
    height: auto;
    width: 30%;
}

p.pambassador{
    width: 30%;
    color: #ffffff;
    text-align: justify;
    margin: 244px;
} 




h3.headerambassador{
    color: #ffffff;
    text-align: center;
    font-size: 3.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


span#colortext5{
    color: #0000ff;
}

.header2{
  background: linear-gradient(60deg, #242424, #3b0054, #00094b, #242424);
    margin-bottom: -40px;
}



@media (min-width:16rem) and (max-width:24.66rem){
h3.headerambassador{

    font-size: 2rem;
    
    
}
}


@media (min-width:16rem) and (max-width:26.66rem){
p.pambassador {
    width: 100%;
    color: #ffffff;
    text-align: center;
    
    margin: 3rem;
}
}

@media (min-width:16rem) and (max-width:26.66rem){
img.gif2 {
    display: none;
}
}