.news-page{
    margin: auto;
}

/* .box-news{
    margin: auto;
    text-align: justify;
    padding-left: 10%;
} */

.grid-container-news{
    margin: auto;
    display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.grid-item-news{
    margin: 15px 30px 15px 30px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}