.section1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.futmob{
  display: flex;
}
  

.container {
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

ul#footer-ul {
  list-style: none;
  padding: 0 0 0 0px;
}
.footer {
  background: #00094b;
  margin-top: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-col {
  width: 25%;
  position: relative;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 10;
  bottom: -10px;
  background-color: #1f51ff;
  height: 2px;
  box-sizing: border-box;
  width: 90px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col > img#FOne {
  max-width: 20vw;
  min-width: 100px;
  transform: rotateY(180deg);
}

.footer-col > img#FTwo {
  max-width: 18vw;
  transform: rotateY(180deg);
  position: absolute;
  right: 0;
  bottom: 0;
}

.copyright {
  width: auto;
  margin-top: auto;
  color: #fff;
  background-color: black;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
}

.footer-col#column-one {
  align-content: center;
}

@media (min-width:10rem) and (max-width:48rem){
.futmob{
  display: table;
  width: 400%;
}



.footer-col h4::before {
    width: 74px;
}

/* @media (min-width: 26.67rem) {
  element.style {
    display: flex;
  }
} */

@media (min-width: 19rem) and (max-width: 26.66rem){
.footer-col h4 {
    font-size: 1rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem){
.footer-col ul li a {
    font-size: 1rem;
}

}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .footer-col > img#FOne {
    display: none;
  }
}

@media (min-width: 19rem) and (max-width: 26.66rem) {
  .footer-col > img#FTwo {
    display: none;
  }

  /* .futmob {
    display: grid;
    width: 5rem;
  } */
}
}