.profile-post {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: left;
}

.profile-post h2 {
  font-size: 1.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.profile-post p {
  font-size: 1rem;
  margin-left: 2rem;
}

.post-cont {
  width: fit-content;
  height: 80vh !important;
  overflow: auto;
}

.list-forum-1 {
  background: white !important;
  height: fit-content;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.list-forum-2 {
  background: #00094b !important;
  color: white;
  height: fit-content;
  border-radius: 1rem;
}

.forum-test {
  text-align: center;
}

.post-box__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 44.65rem;
  background-color: #2d567e;
  border-radius: 0px;
}

.post-box__reply {
  background-color: #2d567e;
  color: white;
}

.view-post-cont p span {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2px;
}

.wrap-outer-column {
  display: flex;
  flex-direction: column;
}

.reply-color {
  background-color: #090b6f85;
  border-radius: 1rem;
  margin-bottom: 4px;
}

.top-cont-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}

.space-between-jn {
  justify-content: space-between;
}

.wrap-outer-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-arrow {
  margin-top: 3px;
  font-size: 18px;
}