.list-forum-1 .profile-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    }
    
    .post-cont{
      height: fit-content;
    }
    
.list-forum-1{
background: pink !important;
height: fit-content;
border-radius: 1rem;
}

.forum-test{
  text-align: center;
}