:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}



/* button.btn{
    /* border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer; */
    /* position: absolute;
    top: 89%;
    right: -30%; */
/* }  */


/* .btn{
    margin: 1.8rem;
    background: linear-gradient(90deg, #3f00ff 0%, #8d57ff 60%);
    border: 0px solid black;
    color: var(--white);
    color:white;
    box-shadow: 0 5px 15px #0f0f0f;
}


.btn:hover{
    background: var(--sky);
    border: 0px solid black;
    color: var(--white);
    color:black;
    box-shadow: 0 5px 15px #0f0f0f;
} */



.jimvideo{

  /* position: fixed; */
  /* right: 0;
  bottom: 0; */
  min-width: 100%; 
  min-height: 100%;


}

video#myVideo{
    width: 100%;
}





button#lpheaderbutton{
  position: absolute;
  height: 80px;
  width: 300px;
  /* margin: 0 35px; */
  border-radius: 50px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
  top: 65%;
  right: 50%;
  margin-right: -180px;
  margin-top: 181px;
}


button#lpheaderbutton:hover{
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}





button#lpheaderbutton:before{


  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;


}




button#lpheaderbutton:hover:before{
  opacity: 1;
  z-index: -1;
}



button:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}


 /*   */
@media (min-width: 768px) and (max-width:1008px) {


}

 /* Tablet  */
@media (min-width: 768px) and (max-width:1008px) {

button#lpheaderbutton {
    height: 39px;
    width: 114px;
    font-size: 10px;
    top: -212px;
    right: -405px;
    }
} 

@media (min-width: 16rem) and (max-width: 26.66rem){


button#lpheaderbutton {
position: inherit;
    height: 4rem;
    width: 100%;
    margin: 0;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
    right: 0;
    margin-right: 0;
    margin-top: 0;
}

    

}


@media (min-width:16rem) and (max-width:26.66rem){
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem;
}
}

@media (min-width:16rem) and (max-width:26.66rem){
  .content p#pheader {
    color: #fff;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
}
}

@media (min-width:16rem) and (max-width:26.66rem){
.about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}
}

@media (min-width:16rem) and (max-width:26.66rem){
.about .column .contentabout p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
    text-align: center;
}
}


@media (min-width:16rem) and (max-width:26.66rem){
.about .column .contentabout h3 {
    font-size: 2rem;
    text-align: center;
    /* color: #666; */
    color: #000;
}
}

@media (min-width:16rem) and (max-width:26.66rem){
.slide img {
    width: 100%;
    margin-top: 5rem;
}
}