:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  /* gradient color   */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /*      theme font-family   */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
}

.bckg-vid-nav {
  z-index: 5;
}

.bckg-vid-nav .first-col {
  background: none !important;
}

.jimvideo {
  min-width: 100%;
  min-height: 100%;
}

video#myVideo {
  width: 100%;
}

.jimvideo .first-col {
  background: black;
}

button#lpheaderbutton {
  position: absolute;
  height: 80px;
  width: 300px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
  top: 65%;
  right: 50%;
  margin-right: -180px;
  margin-top: 181px;
}

button#lpheaderbutton:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

button#lpheaderbutton:before {
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}

button#lpheaderbutton:hover:before {
  opacity: 1;
  z-index: -1;
}

button:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/*phone*/
@media (min-width: 16rem) and (max-width: 26.66rem) {
  button#lpheaderbutton {
    position: inherit;
    height: 4rem;
    width: 100%;
    margin: 0;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
    right: 0;
    margin-right: 0;
    margin-top: 0;
  }



  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem;
  }


 
  .content p#pheader {
    color: #fff;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
  }
  



  .about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
  }



  .about .column .contentabout p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
    text-align: center;
  }



  .about .column .contentabout h3 {
    font-size: 2rem;
    text-align: center;
    color: #000;
  }



  .slide img {
    width: 100%;
    margin-top: 5rem;
  }
}

/*tablet*/
@media (min-width: 26.67rem) and (max-width: 48rem) {
  @media (min-width: 16rem) and (max-width: 26.66rem) {
    button#lpheaderbutton {
      position: inherit;
      height: 4rem;
      width: 100%;
      margin: 0;
      border-radius: 1rem;
      border: none;
      outline: none;
      background: #111;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background 0.5s;
      right: 0;
      margin-right: 0;
      margin-top: 0;
    }
  }

  @media (min-width: 16rem) and (max-width: 26.66rem) {
    .container1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0rem;
    }
  }

  @media (min-width: 16rem) and (max-width: 26.66rem) {
    .content p#pheader {
      color: #fff;
      line-height: 1.5em;
      width: 100%;
      text-align: center;
    }
  }

  @media (min-width: 16rem) and (max-width: 26.66rem) {
    .about .column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 1rem;
    }
  }

  @media (min-width: 16rem) and (max-width: 26.66rem) {
    .about .column .contentabout p {
      font-size: 1rem;
      color: #666;
      padding: 1rem 0;
      text-align: center;
    }
  }

  @media (min-width: 16rem) and (max-width: 26.66rem) {
    .about .column .contentabout h3 {
      font-size: 2rem;
      text-align: center;
      color: #000;
    }
  }

  @media (min-width: 16rem) and (max-width: 26.66rem) {
    .slide img {
      width: 100%;
      margin-top: 5rem;
    }
  }
}

@media (min-width: 27rem) and (max-width:115rem) {
  button#lpheaderbutton {
    position: inherit;
    height: 4rem;
    width: 50%;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
    /* right: 0; */
    margin: auto;
    margin-left: 25%;
  }
}
