@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.Carousallanding {
  text-align: center;
  width: 80%;
  margin: 10rem auto;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

h3.headercarousal {
  text-align: center;
  font-size: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

span#colortext3 {
  color: #0000ff;
}

@media (min-width: 26.67rem) and (max-width: 48rem) {
  .Carousallanding {
    margin: -3rem auto;
  }

  h3.headercarousal {
    font-size: 2.9rem;
  }
  .slick-list {
    padding: 0px;
  }
  .slick-track {
    width: 1820px;
    opacity: 1;
    transform: translate3d(-390px, 0px, 0px);
  }
  .slick-slide.slick-cloned {
    width: 130px;
  }

  .slide {
    width: 100%;
    display: inline-block;
  }

  .slide img {
    width: 14rem;
  }
}
