.landing :root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Global Classes ---------------*/

.landing a{
    text-decoration: none;
    color: var(--text-gray);
}

.landing .flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

/* ul{
    list-style-type: none;
} */

.landing h1#landingheaderOne{
    font-family: var(--Lexend);
    font-size: 35px;
    color: #666;
    text-align: center
}



.landing button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
    /* position: absolute;
    top: 89%;
    right: -30%; */
}

/* span.text{
  font-family: var(--Abel);
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
} */

.landing .container{
    margin: 0 5vw;
}

.landing .text-gray{
    color: var(--text-gray);
}



/* ------x------- Global Classes -------x-------*/







/* --------------- navbar ----------------- */

.landing .nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}


/*site-titlwe*/
/* .site-background{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
} */
.site-title{
    /* background: url('/src/asset/bg2.png'); */
    background: url('/src/asset/bluepink.png');
    background-size: cover;
    height: 107vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-top: -2.3%;
}


@media only screen and (min-width: 1080px) {
  span.text {
    font-size: 8em;

}
}


/* .site-title{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
    position: absolute;
    left: 12%;
} */

.site-title h1{
    margin: .3rem;
}

.site-title .btn{
    margin: 1.8rem;
    background: linear-gradient(90deg, #3f00ff 0%, #8d57ff 60%);
    border: 0px solid black;
    color: var(--white);
    color:white;
    box-shadow: 0 5px 15px #0f0f0f;
}

.site-title .btn:hover{
    background: var(--sky);
    border: 0px solid black;
    color: var(--white);
    color:black;
    box-shadow: 0 5px 15px #0f0f0f;
}

/* img#phonestyle{
    height: 70%;
    position:absolute;
    right: 3%;
    bottom:0%;
} */

.containercontent{
    justify-content: center;
    align-items: center;
    margin: 4rem;
}


.buttoncentre{
    text-align: center;
}



img#bnce{

        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-name: bounce-2;
}
@keyframes  bounce-2{
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-100px); }
        100% { transform: translateY(0); }
    }